@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

/* container  */
.container {
	padding: 0 15px;
	margin: 0 auto;
}
/* small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium */
@media (min-width: 1024px) {
	.container {
		width: 1024px;
	}
}
/* large */
@media (min-width: 1280px) {
	.container {
		width: 1280px;
	}
}
/* container  */
